* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'default';
    src: url('fonts/KiddosyfreeRegular-GOEag.otf');
  }

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("images/default-background.avif");
    background-size: cover;
}

button {
    padding: 0;
    font-family: 'default', Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color:rgb(248, 250, 160);
    border: 5px outset rgb(0, 0, 0);
    border-radius: 10px;
    margin: 2px;
}

button:active {
    background-color:rgb(252, 255, 85);
    border: 5px inset black;
}

img {
    height: 150px;
}

#output {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: white;
    border: 3px outset rgb(255, 238, 0);
    font-family: 'default', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
}

#keyboard {
    padding: 5px;
    border: 4px dashed rgb(0, 0, 168);
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'default', Arial, Helvetica, sans-serif;
}


.box-control {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}


.key {
    width: 50px;
    height: 50px;
}

.function {
    width: 100px;
    font-size: 20px;
}

#pictures {
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

#text {
    display: flex;
    justify-content: center;
    font-family: 'default', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: black;
    }

u {
    display: inline;
    margin-left: 0.25em;
    margin-right: 0.25em;
    color: rgb(0, 0, 0);
}
